.hiw-wrapper {
  padding-top: 13rem;
}
.hiw-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hiw-head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 35rem;
  margin: auto;
}
